   <style type="text/css" media="screen">
	table {
	}
	.td {
		width:16px;
		height:16px;
	}
	.control {
		width:16px;
		height:16px;
		display:block;
		cursor:pointer;
	}
	.filler {
		width:16px;
		height:16px;
		display:block;
	}
	#stop {
		background-image:url('/static/images/applicationtick.png');
	}
	#stop:hover {
		background-image:url('/static/images/applicationcontrol_stop.png');
	}
	#start {
		background-image:url('/static/images/applicationstop.png');
	}
	#start:hover {
		background-image:url('/static/images/applicationcontrol_play.png');
	}
	#restart {
		background-image:url('/static/images/applicationarrow_refresh.png');
	}
	#startup {
		background-image:url('/static/images/applicationbrick.png');
	}
	#makestartup {
		background-image:url('/static/images/applicationbrick_add.png');
	}
	#removestartup {
		background-image:url('/static/images/applicationbrick_delete.png');
	}
	</style>
	<script src="/static/js/jquery-1.7.min.js"></script>
	<script type="text/javascript">
		function action(action,app) {
			alert("click");
			$$.ajax("/apps/"+app+"/"+action,{
					complete:function (result,status) {
						check(result.context.app,result.context.action);
						alert("hi");
					}
				})
		}
		function check(app,action) {
			$$.ajax("/rcmd/"+app+"/"+action,{
					context:{app:app,action:action},
					complete:function (result,status) {
						var r = result.responseText
						toconsole(r);
						if(r.indexOf("#DONE#") == -1) {
							setTimeout("check(\""+app+"\",\""+action+"\")",1000);
						}
						else {
							setTimeout("location.reload(true);",1000);
						}
					}
				})
		}
		function toconsole(text) {
			var t = $$("#consoletext").text(text);
			$$("#consoletext").text(t+text);
		}
	</script>